name: Run Tests on PR
permissions:
  contents: read
on:
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    
    - name: Sync dependencies
      run: uv sync

    - name: Run tests
      run: uv run pytest

    - name: Run Ruff check
      run: uv run ruff check --output-format=github

    - name: Run Ruff format
      run: uv run ruff format --diff
